@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use '../base/typography' as *;

footer {
  background-color: $color-primary-green;
  padding: 40px;
  // width: 100vw;
  .infoFooter {
    @include displayFlex($justify: space-between);
    flex-direction: row;

    @include breakpoint(900px, "max") {
      flex-direction: column;
    }

    div {
      @include displayFlex();
      flex-direction: column;

      h3{
        font-weight: $font-weight-large;
        padding-bottom: 24px;
      }
    }
  }
}
