header{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, rgba(96, 160, 216, 0.62), rgba(179, 210, 52, 0.62)), url("../../images/Header_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}   

.reseaux{
    bottom: 24px;
    right: 20px;
    align-self: flex-end;
    position: relative;
}

.titleAccueil{
    position: relative;
    h1{
        font-size: 126px;
    }
    p{
        position: absolute;
  font-size: 42px;
  font-style: italic;
  rotate: -11deg;
  right: -20%;
  bottom: -28px;
    }
}