@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;

.chezVB {
  height: 100vh;
  @include backgroundImg(
    url("../../images/louis-hansel-MlPD-AzZYMg-unsplash.png")
  );
  padding: 128px 124px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include breakpoint(900px, "max") {
    grid-template-columns: 1fr;
    padding: 10%;
    height: auto;
  }
  gap: 10px;
  text-align: center;

  .prepa_verts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-column: 1/2;
    background-color: hwb(72deg 20% 18% / 85%);
    &_un {
      @include displayFlex($justify: center, $flex: column);
    }
    &_deux {
      @include displayFlex($justify: center, $flex: column);
    }
    &_text {
      @include gridColumnRow(1, 3, 1, 2);
      @include displayFlex();
      font-size: $font-size-large;
      font-weight: $font-weight-large;
    }
  }
  .prepa_bleus {
    @extend .prepa_verts;
    grid-column: 2/3;
    @include breakpoint(900px, "max") {
      grid-column: 1/2;
    }

    background-color: hwb(208deg 38% 15% / 85%);
    &_un {
      @include displayFlex($justify: center, $flex: column);
    }
    &_deux {
      @include displayFlex($justify: center, $flex: column);
    }
    &_text {
      @include gridColumnRow(1, 3, 1, 2);
      @include displayFlex();
      font-size: $font-size-large;
      font-weight: $font-weight-large;
    }
  }
}
